<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#151515">
  <title>{{ title }} | {{ metadata.title }}</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }} | {{ metadata.title }}">
  <meta property="og:site_name" content="{{ description }}">
  <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
  <meta property="og:image" content="{{ metadata.url }}/assets/images/pstshrng.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:site" content="{{ metadata.url }}{{ page.url }}">
  <meta name="twitter:image" content="{{ metadata.url }}/assets/images/pstshrng.jpg">
  <link rel="stylesheet" href="/assets/css/global.css">
  <link rel="stylesheet" href="/assets/css/vendor.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  {% include 'search.njk' %}
  <div class="site-container">
    <header class="header">
      <div class="container header__container">
        <a href="/" class="logo header__logo" aria-label="Логотип MaxGraph">
          <svg>
            <use xlink:href="/assets/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="header__right">
          <nav class="nav header__nav">
            <ul class="nav__list">
              <li class="nav__item"><a href="{{ metadata.youtube }}" target="_blank" class="nav__link">youtube</a></li>
              <li class="nav__item"><a href="{{ metadata.telegram }}" target="_blank" class="nav__link">telegram</a></li>
            </ul>
          </nav>
          <button class="btn-reset search-btn header__search" aria-label="Открыть поиск">
            <svg>
              <use xlink:href="/assets/img/sprite.svg#search"></use>
            </svg>
          </button>
          <button class="btn-reset theme-switch" aria-label="Сменить тему сайта">
            <svg class="theme-switch__icon dark">
              <use xlink:href="/assets/img/sprite.svg#toggle-to-dark"></use>
            </svg>
            <svg class="theme-switch__icon light">
              <use xlink:href="/assets/img/sprite.svg#toggle-to-light"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
