
ErrorDocument 404 /404/


Redirect 301 /2019/12/31/s-novym-godom-3/ /2019/12/31/s-novym-godom-33/


Redirect 301 /2017/10/18/kak-otpravlyat-zayavku-s-sajta-v-telegram/ /kak-otpravlyat-zayavku-s-sajta-v-telegram/
Redirect 301 /2017/10/14/top-7-sajtov-gde-mozhno-skachat-mockup/ /top-5-sajtov-gde-mozhno-skachat-mockup/
Redirect 301 /2017/09/02/top-7-oshibok-nachinayushhego-frilansera/ /top-7-oshibok-nachinayushhego-frilansera/
Redirect 301 /2017/08/28/privet-dorogoj-drug/ /privet-chitatel-moego-bloga/
Redirect 301 /2017/09/15/poleznye-rasshireniya-chrome-dlya-veb-razrabotchika/ /privet-chitatel-moego-bloga/
Redirect 301 /2017/10/31/kak-brat-zakazy-na-frilans-birzhe-chast-1/ /kak-brat-zakazy-na-frilans-birzhe/
Redirect 301 /2017/10/22/top-5-prichin-boyazni-novichkov-na-frilanse-i-puti-ix-resheniya/ /pochemu-nachinayushhie-frilansery-boyatsya-i-kak-poborot-strakh/
Redirect 301 /2018/02/04/dobavlyaem-yandeks-kartu-na-sajt/ /dobavlyaem-yandekskarty-na-sajt/
Redirect 301 /2018/03/02/gde-frilanseru-iskat-zakazchikov-5-neochevidnyx-mest/ /gde-frilanseru-iskat-zakazchikov-5-variantov/
Redirect 301 /2018/06/16/kak-pokazyvat-privetstvie-v-zavisimosti-ot-vremeni-sutok-javascript/ /kak-pokazyvat-privetstvie-v-zavisimosti-ot-vremeni-sutok/

Redirect 301 /2018/09/06/inversiya-cveta-pri-navedenii/ /inversiya-czveta-na-css/
Redirect 301 /2018/09/12/pribavka-dnej-k-date-na-sajt/ /pribavka-dnej-k-date-na-sajt/
Redirect 301 /2018/09/15/ogranichenie-na-vvod-cifr-v-input/ /ogranichenie-na-vvod-czifr-v-input/
Redirect 301 /2018/10/13/kak-ispolzovat-servernuyu-datu-na-sajte/ /kak-ispolzovat-servernuyu-datu-na-sajte/
Redirect 301 /2018/12/17/vyshel-moj-kod-stajl/ /vyshel-moj-kodstajl/
Redirect 301 /2019/04/04/otnositelnye-edinicy-vw-vh-i-vmin-primery-na-scss/ /otnositelnye-ediniczy-vw-vh-i-vmin-primery-na-scss/
Redirect 301 /2019/04/08/samye-neprostye-temy-dlya-nachinayushhix-verstalshhikov/ /samye-neprostye-temy-dlya-nachinayushhikh-verstalshhikov/
Redirect 301 /2019/04/10/css-magic-1-krasivyj-hover-effekt/ /css-magic-1-krasivyj-hover-effekt/
Redirect 301 /2019/04/14/css-magic-2-pulse-effekt-dlya-knopok/ /css-magic-2-pulse-effekt-dlya-knopok/
Redirect 301 /2019/04/17/css-magic-3/ /css-magic-3-obvodka-dlya-teksta-text-stroke-effect/
Redirect 301 /2019/04/19/podsvechivanie-vvodimogo-znacheniya-v-poiske-na-js-input-highlight-onkeypress/ /podsvechivanie-vvodimogo-znacheniya-v-poiske-na-js-input-highlight-onkeypress/
Redirect 301 /2019/04/24/css-magic-4-blyur-effekt-css-blur-effect/ /css-magic-4-blyur-effekt-css-blur-effect/
Redirect 301 /2019/04/24/igra-prestolov-verstaem-odin-ekran-iz-sajta/ /igra-prestolov-verstaem-maket-po-serialu/

Redirect 301 /2019/04/26/svg-karta/ /svg-map-vstavlyaem-svg-kartu-rossii-v-html-i-rabotaem-s-nej/
Redirect 301 /2019/05/20/css-magic-5-kak-sdelat-izobrazhenie-v-vide-parallelogramma/ /css-magic-5-kak-sdelat-izobrazhenie-v-vide-parallelogramma/
Redirect 301 /2019/05/27/css-magic-6-gradient-dlya-teksta/ /css-magic-6-gradient-dlya-teksta/
Redirect 301 /2019/06/10/css-magic-7-hover-effekt-izobrazhenij-kak-na-avito/ /css-magic-7-hover-effekt-izobrazhenij-kak-na-avito/
Redirect 301 /2019/07/11/otpravka-soobshheniya-s-sajta-v-whatsapp/ /otpravka-soobshheniya-s-sajta-v-whatsapp/
Redirect 301 /2019/10/22/s-chego-nachat-verstku-sajta-dlya-sovsem-novichkov/ /s-chego-nachat-verstku-sajta-dlya-sovsem-novichkov/

Redirect 301 /2019-05-09-kak-obrezat-tekst-postaviv-mnogotochie-dotdotdot-plagin/ /mnogostrochnoe-obrezanie-teksta-s-pomoshhyu-js/
Redirect 301 /2018-10-28-lenta-instagrama-na-sajt-neskolko-variacij-ispolzovaniya/ /lenta-instagrama-na-sajte-s-pomoshhyu-js/

Redirect 301 /2017-10-26-adaptivnaya-tablica-na-chistom-css/ /adaptivnaya-tablicza-na-chistom-css/
Redirect 301 /2019/05/02/effekt-perestanovki-teksta-shuffle-effect-for-letters/ /effekt-perestanovki-teksta-shuffle-effect-for-letters/
Redirect 301 /2019/05/16/vzaimodejstvuem-s-kontentom-po-skrollu-scroll-event/ /vzaimodejstvuem-s-kontentom-po-skrollu-scroll-event/
Redirect 301 /2019/05/23/fiksirovannoe-mobilnoe-menyu-s-ostanovkoj-skrolla/ /fiksirovannoe-mobilnoe-menyu-s-ostanovkoj-skrolla/
Redirect 301 /2020/09/29/bolshaya-podborka-plaginov-na-chistom-js-dlya-raznyx-zadach/ /bolshaya-podborka-plaginov-na-chistom-js-dlya-raznykh-zadach/

Redirect 301 /2020/04/16/besplatnye-makety-figma-dlya-verstki-sajta/ /besplatnye-makety-figma-dlya-verstki-sajta/
Redirect 301 /2020/07/10/besplatnye-makety-figma-dlya-verstki-sajta-2/ /besplatnye-makety-figma-dlya-verstki-sajta-2/
Redirect 301 /2020/02/12/verstka-html-pisem-chast-1/ /verstka-html-pisem-chast-1/
Redirect 301 /2020/02/13/verstka-html-pisem-chast-2/ /verstka-html-pisem-chast-2/
Redirect 301 /2019/10/14/mnozhestvennaya-otpravka-chekboksov-v-html/ /mnozhestvennaya-otpravka-chekboksov-v-html/
Redirect 301 /2018/10/24/js-fichi-1-taby-na-jquery/ /sozdanie-tabov-na-chistom-js/

Redirect 301 /2017/12/20/ustanovka-recaptcha-kapcha-na-svoj-sajt/ /ustanovka-recaptcha-na-svoj-sajt/
Redirect 301 /2018/01/03/kak-vyvesti-dannye-iz-formy-v-word/ /kak-vyvesti-dannye-iz-formy-v-word/
Redirect 301 /2019/06/03/samyj-udobnyj-plagin-stilizacii-skrolla/ /prostoj-i-udobnyj-sposob-stilizovat-skroll/
Redirect 301 /2018/01/23/595/ /izmenenie-aktivnogo-punkta-menyu-pri-skrolle/
Redirect 301 /2018/02/13/sozdanie-cookie-preduprezhdeniya/ /sozdanie-cookie-preduprezhdeniya-dlya-sajta/


